      {{#if arguments.navigation}}
      <ul id="menu-menu" class="menu">
        {{#each arguments.navigation}}
        <li id="menu-item" class="pview menu-item"><a href="{{url}}">{{label}}</a></li>
        {{/each}}
      </ul>
      {{/if}}
